*{
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
}
:root{
    --button-black: #3c3c3c;
}
body{
    height: 100vh;
}
/*Main content*/

#content {
    display: grid;
    grid-auto-rows: minmax(100px, 400px);
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#frontPageBilde{
    grid-row: 1;
    margin: 0 auto;
}
#frontPageBilde button{
    cursor: pointer;
    background-color: var(--button-black);
    padding: 20px 30px;
    color: white;
}
#omOss{
    grid-row: 2;
    display: flex;
    width: 900px;
    margin: 0 auto;

}

/*Navigation bar*/
header{
}
nav{
    margin: 0 auto;
    width: 700px;
    display: flex;
    gap: 40px;
}

nav img{
width: 150px;
}

.nav-knapp{
    cursor: pointer;
}
.nav-knapp.active{
    color: gold;
}




/*Bunn bar*/

footer{
    width: 100%;
    border-top: 1px solid black
}